/* VIDEO BACKGROUND */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
}
.background-video::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(110deg, #050607 15%, rgba(11, 12, 16, 0.568) 50%, #08090a 90%);
}
.video {
    height: 100vh;
}
/* VIDEO BACKGROUND */

/* SECTION PRINCIPAL */
.main-content {
    position: relative;
    top: calc(50vh - 25vh);
    width: 100%;
    color: #FFFF;
}

.main-content h1 {
    font-size: 52px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    margin-bottom: 30px;
}
.main-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 450px;
    margin-top: 10px;
}

.main-content hr {
    margin-top: 70px;
    margin-bottom: 5px;
    color: #FFFF;
    width: 400px;
    height: 10pt;
    border-top: 1px solid rgb(250, 250, 250);
}

.main-content-footer h6 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 4pt;
    color: #aeaeb1;
}

/* .pulseS {
    animation: pulseS 10s ease-in-out infinite;
} */

.nick {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    background-color: rgb(173, 46, 46);
    color: rgb(48, 1, 1);
    padding: 1px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    border-bottom: 3px solid rgb(85, 11, 11);
}

/* @keyframes pulseS {
    0% {
        color: #FFFFF;
        
    }
    50% {
        color: rgb(173, 46, 46);
    }
    100% {
        color: #ffff;
    }
} */

.buttons-social ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.buttons-social li {
    display: inline-block;
    margin-right: 15px;
}
.buttons-social a {
    color: rgb(0, 0, 0);
    font-size: 28px;
    background-color: rgb(173, 46, 46);
    padding: 1.5px 5px;
    border-radius: 5px;
    transition: color .5s ease;
}

.buttons-social a:hover {
    color: rgb(214, 199, 199);
    font-size: 28px;
    background-color: rgb(173, 46, 46);
    padding: 1.5px 5px;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    body {
        background-color: #121214;
    }
    .video {
        display: none;
    }
    .background-video {
        display: none;
    }
    .main-content {
        margin-left: 10px;
    }
    .main-content-footer {
        margin-left: 10px;
    }
  }
